.App {
    background-color: #2f4550;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

header div {
    background-color: white;
}

header img {
    width: 200px;
}

.main {
    background-color: lightblue;
    height: 100%;
}

.character-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.character-section-element {
    background-color: burlywood;
}

.character-section-element img {
    width: 150px;
}
